<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.myhouse.inter.IFileInfoOperation">
<insert id="insertFile" parameterType="com.myhouse.entity.FileInfo">
insert into fileinfo(filename,filepath,createtime,owner) values(#{filename},#{filepath},now(),#{owner})
</insert>
</mapper>
